*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier Prime', monospace;
}

body{
    background-color: #03191d;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header{
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-top: 3rem;
    color: #ddd;

    & img{
        width: 3rem;
    }
}

.config{
    margin-top: 2rem;
    display: flex;
    border-radius: .5rem;
    background-color: rgb(0, 0, 0, .4);
    padding: 0.2rem;
    gap: 0.2rem;
    
    .add-on, .length{
        display: flex;
        gap: 1rem;
        align-items: center;
        padding: 0.5rem;

        & div{
            cursor: pointer;
            font-weight: bold;
            color: #aaa;

            &.active{
                color: rgb(0, 255, 0);
            }
        }
    }

    & span{
        width: 2px;
        background-color: rgb(0, 0, 0,.3);
        background-color: rgb(255, 255, 255, .05);
    }
}

.content{
    width: 90vw;
    display: flex;
    position: relative;
    margin-top: 1rem;
    padding: 1rem;

    .line{
        position: absolute;
        width: 2px;
        height: 1.8rem;
        background-color: rgb(0, 255, 0);
        border-radius: .5rem;
        top: 1rem;
        left: 1rem;
        z-index: 1;
        transition: all .1s;
    }

    .words-wrapper{
        display: flex;
        flex-wrap: wrap;
        gap: .8rem;
        line-height: 1.8rem;
        overflow: hidden;
        transition: all .1s;
        cursor: auto;
        user-select: none;
    
        & word{
            display: inline-flex;
            position: relative;
            transition: all .1s;
            
            & letter{
                position: relative;
                font-size: 1.5rem;
                transition: all .1s;
                color: rgb(255,255,255,.4);
            }
    
            .correct{
                color: #fff;
            }
    
            .incorrect{
                color: red;
            }
    
            .extra{
                color: #eee;
                background-color: rgb(255, 0, 0,.8);
            }
        }
    }

    .score-wrap{
        margin: auto;
        padding: 1rem;
        display: none;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: rgb(0, 0, 0, .4);
        border-bottom: 2px solid rgb(0, 255, 0);
        color: #aaa;
        border-radius: .5rem;
        transform-origin: bottom;
    
        &.active{
            display: flex;
        }
    
        .img{
            display: flex;
    
            & img{
                width: 2.5rem;
            }
        }
    
        .score{
            font-size: 1.5rem;
            font-weight: bold;
        }
    }
}

.reload{
    margin-top: 1rem;
    color: #aaa;
    cursor: pointer;
}

.info{
    display: flex;
    align-items: center;
    width: 90vw;
    justify-content: space-around;
    margin: 1rem 0;
    
    .timer,.counter{
        padding: .3rem .6rem;
        border-radius: .5rem;
        font-size: 1.2rem;
        background-color: #ddd;
        background-color: rgb(0, 0, 0, .4);
        color: #aaa;
        font-weight: bold;
    }
}

.mobile-tablet{
    display: none;
}

@media screen and (max-width: 1023px) {
    body{
        height: 100vh;
        padding: 0px .5rem;

        *{
            display: none;
        }
    }

    body *:not(.mobile-tablet){
        display: none;
    }

    .header{
        display: none;
    }

    .mobile-tablet{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0.2rem;
        color: #eee;

        & p{
            display: inline;
        }
    
        & h4{
            display: flex;
            align-items: center;
            align-self: flex-end;

            & span{
                display: inline;
            }
            
            & img{
                display: block;
                width: 2rem;
            }
        }
    }
}